

/* Aplicar Playfair Display solo a los títulos */
h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.btn-primary {
    margin-top: 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
